body{
  background-color: #A67EC8;
  color: #2C2C34;
}

#pomodoro{
  background-color: #B18FCF;
  border-radius: 10px;
  width: 500px;
  height: 365px;
  margin: 0 auto;
  margin-top: 50px;
}

.shadow-btn{
  box-shadow: 0px 0px 10px 0px #9C70C2;
  background-color: #9C70C2;
}

#start_stop, #reset, #break-decrement, #break-increment, #session-decrement, #session-increment{
  box-shadow: 0px 0px 10px 0px #2C2C34;
  background-color: #2C2C34;
  color: #B18FCF;
}

#start_stop:hover, #reset:hover, #break-decrement:hover, #break-increment:hover, #session-decrement:hover, #session-increment:hover{
  color:rgb(230, 223, 223)
}